.ml7 {
  position: relative;
  font-size: 55px;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

  .country-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .tun{
    display: flex;
    align-items: center;
   
  }
  .kun{
    display: flex;
    align-items: center;
   
  }

  :root{
    --dark_bg:#9da3f4;
    --color_text:#5d65d1;
    --nav_bg:white;
    --h1:#5d65d1;

  }

  .dark_bg{
    --dark_bg:rgba(40, 37, 37, 0.862);
    --color_text:white;
    --nav_bg:rgb(147, 143, 143);
    --h1:white;
  }

  header{
    background-color:var(--nav_bg) !important

  }
  body{
    background-color:var(--dark_bg)
  }

  header h1{
    color: var(--h1);
  }

